<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS - Welcome Email</title>
    <style>
        /* Add your custom styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
            text-align: center;
        }
        p {
            color: #555;
            line-height: 1.6;
        }
        .title{
            color:#0c2645;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to <span class="title">B Learn </span>!</h1>
        <p>Hello <%= user.name %>,</p>
        <p>Thank you for joining our Learning Management System (BLearn). We're excited to have you on board and help you on your learning journey.</p>
        <h1> OTP <%= activationCode %> </h1>
        <p>With LMS, you can access a wide range of courses, collaborate with instructors and fellow learners, and track your progress effortlessly.</p>
        <p>If you have any questions or need assistance, don't hesitate to reach out to our support team. We're here to help you succeed.</p>
        <p>Get started today and unlock a world of knowledge!</p>
        <p>Best regards,</p>
        <p>B Learn</p>
        <p>Contact us blearndotcom@gmail.com</p>
    </div>
</body>
</html>
